/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
    margin: 0;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
}

p {
    margin: 0;
    font-size: 0.85em;
    color: #8c9398;
    line-height: 1.9em;
    letter-spacing: 1px
}

ul {
    margin: 0;
    padding: 0;
}

/*--/header --*/

/*--/navbar--*/

.navbar {
    padding: 0em 0em;
}

a.navbar-brand {
    font-size: 1.2em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #fff;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.logo i {
    color: #03cce6;
    text-shadow: none;
}

li.nav-item {
    margin: 0 20px;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0em;
    color: #fff;
    background: transparent;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 600;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    background: transparent;
    color:#ff3c41;
}

.dropdown-item {
    padding: 0.5em 1.5rem;
    font-size: 0.9em;
    margin: 0;
}

.dropdown-menu {
    margin: 0;
    padding: 0;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #fff;
}

/*---*/

/*---*/

.dropdown-toggle::after {
    width: 0;
    height: 0;
    margin-left: 0;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border: 0px;
}


.dropdown-item:hover,
.dropdown-item:focus {
    color:#ff3c41;
    text-decoration: none;
    background-color: #f0f0f1;
}

/*-- //header --*/

header {
    padding-top: 3em;
}

.top-head-w3ls span {
    color: #ffff;
    letter-spacing: 2px;
    font-weight: 600;
}

.top-head-w3ls a {
    color: #ffff;
    letter-spacing: 2px;
}

.top-content-info {
    position: relative;
    margin: 0 0 0.5em 0;
}

.log-in a {
    border-radius: 25px;
    border: 2px solid #ff3c41;
    padding: 0.3em 1.7em;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    background:#ff3c41;
    box-shadow: 0 25px 60px rgba(0, 0, 0, .2);
}

.log-in a:hover {
    border: 2px solid #ff3c41;
    background: none;
    color:#ff3c41;
}

.top-content-left h6 {
    color: #fff;
    font-size: 0.9em;
    text-decoration: underline;
}

.callnumber h6 {
    color: #fff;
    font-weight: 300;
}

/*--/banner-info--*/

.mian-content-wthree {
    background: url(../images/1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: 48vw;

}

.slide-caption h3 {
    color: #fff;
    font-size: 4em;
    margin-bottom: 15px;
}

.slide-caption p {
    text-align: left;
    margin: 0;
    font-size: 0.9em;
    width: 60%;
    display: none;
    color: #fff;
    line-height: 2em;
}

#table {
    display: table;
    width: 100%;
    height: 100%;
    margin-top: 10em;
}

#centeralign {
    display: table-cell;
    vertical-align: middle;
}

.cont-btn a {
    border-radius: 25px;
    border: 2px solid #fff;
    padding: 0.5em 1.7em;
    color: #fff;
    font-weight: 500;
    font-size: 0.9em;
}

.cont-btn a:hover,
.cont-btn a.active {
    background: #ff3c41;
    border: 2px solid #ff3c41;
}

.cont-btn {
    margin-top: 2rem;
}

.top-content-left {
    padding: 0;
}

.social-icons li {
    list-style: none;
}

ul.social-icons li a span {
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    background: transparent;
    width: 28px;
    height: 28px;
    line-height: 27px;
    text-align: center;
    display: block;
}

ul.social-icons li a span:hover {
    color: #fff;
}

/*----*
.slide-caption {
    position: absolute;
    bottom:33%;
    left: 15%;
    width: 53%;
    color: #fff;
    background: none;
}
.slide-caption h3 {
     margin:0rem;
    font-size:3.5rem;
}

.slide-caption p {
    margin:0rem;
    font-size: 1.2rem;
    color: #ddd;
}
.slide-caption span {
    color:#2529d8;
}

.mian-content-wthree {
    position: relative;
}


/*-- /banner-info --*/

/*--/introduction--*/
h3.main {
    font-size: 1.7em;
    line-height: 1.5em;
}

h3.main mark {
    padding: 0.4em 0.4em;
    background-color: #ccffe4;
}

.about-in .card {
    background: none;
    border: none;
    padding: 0;
}

.about-in p.card-text {
    line-height: 2em;
}

.about-in .card i {
    font-size: 2em;
    color: #ff3c41;
}

.icon-service {
    float: left;
    margin-right: 2%;
    width: 20%;
    text-align: center;
}

.icon-service-info {
    float: left;
    width: 72%;
}

.about-in .card h5.card-title {
  font-size: 1.2em;
}

.about-in .card-body {
    background: #f5f5f5;
    margin-bottom: 1.2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.middle-grids .card-body:hover{
    background: url(../images/serve-img.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: auto;
}
.middle-grids .card-body:hover,.middle-grids .card-body:hover p{
    color:#fff;
}
.about-in h6 {
    font-size: 0.9em;
    color: #888;
    font-weight: 400;
}

.about-right h3 {
    color: #303031;
    font-weight: 600;
    font-size: 1.4em;
    letter-spacing: 1px;
    line-height: 1.6em;
}

.about-right h4 {
    margin: 1.2em 0;
    font-size: 15px;
    color: #b1b2b3;
    font-weight: 300;
}

.about-right {
    padding: 3em 6em;
}

ul.author li {
    list-style: none;
    margin: 0 2em 0 0em;
}

.about-in .card-body {
    background: #e9eaef;
    margin-bottom: 1.2em;
    padding: 2.5em 1em;
}

ul.author li img {
    border-radius: 50%;
    -weblit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #ddd;
}

ul.author li {
    color: #888;
    font-size: 0.85em;
}

ul.author li span {
    display: block;
    font-weight: 600;
    color: #5c6065;
    font-size: 1.2em;
}

.colour-one,
.colour-two,
.colour-three,
.colour-four {
    width: 227px;
    height: 227px;
    background: #ff3c41;
    border-radius: 150px 150px 0px 150px;
}

.colour-gd {
    margin-bottom: 0.7em;
    padding: 0;
}

.colour-two {
    border-radius: 150px 150px 150px 0px;
    background: #fcd000;
}

.colour-three {
    border-radius: 150px 0px 150px 150px;
    background: #47cf73;
}

.colour-four {
    border-radius: 0px 150px 150px 150px;
    background: #ae63e4;

}

/*--//introduction--*/

/*-- /services--*/

h3.tittle-w3ls span {
    display: block;
    text-transform: uppercase;
    font-size: 0.3em;
    color: #ff4081;
    letter-spacing: 4px;
    font-weight: 600;
}

h3.tittle-w3ls {
    text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.15);
    font-size: 3em;
    color: #333338;
}

.middle-grids .card-body {
    padding: 9em 2em;
    background: #fff;
}

/*-- //services--*/

/*-- team --*/

.team-info-content {
    background-color: #FFF;
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    filter: alpha(opacity=100);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
}

.team-info-content img {
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-info-content:before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-info-content:hover:before {
    background-color: rgba(0, 0, 0, 0.8);
}

.team-info-content:hover .view-caption {
    -moz-transform: translateY(0%) scale(1);
    -o-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    -webkit-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
}

.view-caption {
    background-color: #2529d8;
    bottom: 0;
    height:27%;
    left: 0;
    padding: 16px 20px;
    position: absolute;
    right: 0;
    z-index: 99;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translateY(150%) scale(1.5);
    -o-transform: translateY(150%) scale(1.5);
    -ms-transform: translateY(150%) scale(1.5);
    -webkit-transform: translateY(150%) scale(1.5);
    transform: translateY(150%) scale(1.5);
}

.view-caption .team-description h4 {
    color: #000;
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 5px;
}

.view-caption .team-description p {
    color: #000;
    font-size: 1em;
}

.view-caption ul li {
    display: inline-block;
    list-style: none;
}

.view-caption ul.social-icons-team li a {
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    color: #ec1c24;
    display: inline-block;
    height: 28px;
    text-align: center;
    line-height: 25px;
    width: 28px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    font-size: 0.8em;
}
.view-caption ul.social-icons-team li a:hover {
    opacity: 0.8;
}
.team-description h4 {
    font-size: 1.1em;
}
.team-info-content ul.social-icons-team li a {
    color: #2529d8;
    line-height: 29px;
}
/*-- //team --*/
/*-- Pricing --*/
.price-main-info .card-header h4 {
    color: #f7f7f7;
    font-size: 1.7em;
    font-weight: 600;
    line-height: 1em;
    padding-top: 2em;
}

.price-main-info .card-header h4 span {
    display: block;
    font-weight: 100;
}

.price-main-info .card-header {
    background: url(../images/price.jpg)no-repeat 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    min-height: 192px;
}

.price-main-info .card-body {
    background: #fff;
    padding: 2em 1em;
}

.pricing-card-title span {
    font-size: .5em;
    display: inline-block;
    color: #000;
    font-weight: 300;
}

.price-main-info small.text-muted {
    font-size: 0.5em;
}

ul.list-unstyled li {
    font-size: 15px;
    color: #7d7d7d;
    line-height: 2.5em;
}

.price-main-info h5.card-title {
    font-size: 3em;
    color: #1c1c1d;
    font-weight: 700;
}

.card-deck .card {
    padding: 0px;
}

.price-inner .log-in a {
    font-size: 0.9em;
}

.price-inner.card h4 {
    color: #a7aaad;
    font-size: 1.1em;
}

.price-main-info.card {
    border-radius: 0;
    border: none;
    background: none;
}
/*--/tabs --*/
.nav-pills .nav-link {
    padding: 0.7em 2em;
    letter-spacing: 1px;
    color: #4e4c4c;
    background: rgba(193, 189, 189, 0.38);
    font-weight: 600;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background: #2529d8;
}
.tech-btm h5 {
    font-size: 0.9em;
    line-height: 1.4em;
    font-weight: 600;
}

.menu-img-info h5 {
    font-size: 1.8em;
    color: #7b7d80;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    line-height: 1.4em;
}

p.sub-meta {
    color: #1cbbb4;
    font-size: 1.2em;
    font-weight: 600;
}
.text-info-sec p {
    color: #8c9398;
}
.text-info-sec h5 {
    font-size: 1.4em;
    color: #4e4f50;
    text-shadow: 0 1px 2px rgba(18, 18, 19, 0.13);
    font-weight: 700;
    text-transform: uppercase;
}
.text-info-sec i {
    color: #EB2941;
}
/*--//tabs--*/

/*--// Pricing --*/
ul.facilities-list.recent {
    margin-top: 1em;
}
ul.facilities-list.recent li {
    line-height: 3em;
}
/*--bottom-last--*/

.bottom-last {
    background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 400px;
}

section.bottom-last h3 {
    font-size: 2em;
    font-weight: 500;
    color: #fff;
    line-height: 1.6em;
    width: 65%;
    margin: 3em auto 0;
    text-shadow: 2px 2px 2px rgba(29, 28, 28, 0.15);
}

/*--bottom-last--*/

.feedback-top {
    background: transparent;
    position: relative;
    border: 1px solid #ddd;
    padding: 2em;
    margin-top: 2em;
}

.feedback-top:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 14%;
    width: 0;
    height: 0;
    border-top: 15px solid rgb(224, 225, 226);
    border-right: 4px solid transparent;
    border-left: 12px solid transparent;
    transform: rotate(0deg);
}

.feedback-top p {
    margin: 0;
}

.feedback-img {
    position: absolute;
    float: left;
    width: 13%;
    background: #59646f;
    padding: 0.2em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    top: 8%;
    left: 45%;
}

.feedback-grids {
    margin: 1em 0 0;
}

.feedback-img img {
    width: 100%;
}

.feedback-info {
    margin: 1em !important;
}

.feedback-img-info {
    float: left;
    width: 65%;
    margin: 0em 0 0 1em;
}

.feedback-img-info h5 {
    color: #ff3c41;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 600;
}

.feedback-img-info p {
    color: #6f6b6b;
    margin-top: .5em;
}

.feedback-img-info p span {
    color: #b1b2b3;
    font-size: 0.85em;
}

.icon-test i {
    font-size: 2em;
    color: #fcd000;
    margin-left: .4em;
    position: relative;
}

.icon-test {
    position: relative;
}

.icon-test:before {
    content: " ";
    position: absolute;
    background: #d5d8da;
    width: 77%;
    height: 2%;
    top: 54%;
    right: 5%;
}

/*-- //feedback --*/

/*--model-forms--*/

.modal-header {
    border: none;
}

.login h5 {
    font-size: 1.2em;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
}

.login button.btn.btn-primary.submit {
    background: #495057;
    padding: 0.5em 2em;
    letter-spacing: 1px;
    border: none;
}

.login button.btn.btn-primary.submit:hover {
    background: #2529d8;
}

.login a {
    color: #97989a;
}

.login label {
    font-weight: 400;
    color: #5a5757;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.video iframe {
    width: 100%;
    height: auto;
}

/*--//model-forms--*/

/*--/inner-page--*/

.mian-content-wthree.inner {
    background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
     height: 18vw;
}

ol.breadcrumb {
    margin: 0;
}

li.breadcrumb-item {
    font-size: 0.9em;
    letter-spacing: 3px;
}

li.breadcrumb-item a {
    color: #2529d8;
}

.breadcrumb-item.active {
    color: #888;
}

ol.breadcrumb {
    background: none;
    margin: 0;
    padding: 1em 2em;
    background: #f7f7f7;
}

/*--//inner-page--*/
.property-info-list {
    padding: 1.2em 1em;
    background: #f4f5f7;
}
.detail h4.title a {
    color: #2529d8;
    font-size: 0.8em;
}
.detail ul li {
    list-style: none;
    width:44%;
    float: left;
    font-weight: 400;
    font-size: 13px;
    color: #848488;
}
.detail ul li:hover i{
    color: #2529d8;
}
.detail .location a {
    font-size: 13px;
    color: #535353;
    font-weight: 400;
}
.footer-properties span {
    float:right!important;
    font-size: 13px;
    color: #535353;
}
.footer-properties i {
    margin-right: 5px;
}
ul.facilities-list i {
    margin-right: 0.5em;
}
.footer-properties {
    border-top: 1px solid #ddd;
    padding-top: 0.7em;
    margin-top: 1em;
}
/*--/footer--*/
footer.footer-emp-w3ls {
    background:#f5f5f5;
}

.owl-item.active {
    padding: 15px;
    border: 1px solid #e4e4e4;
}
/*--footer--*/
.newsright {
    width:70%;
}
.newsright input[type="email"] {
    outline: none;
    width: 100%;
    padding: 9px 14px;
    color: #343a40;
    font-size: 14px;
    border: 1px solid #caccce;
    width: 70%;
    letter-spacing: 3px;
    background: none;
    border-radius: 0px;
}
.newsright input[type="submit"] {
    border: none;
    padding: 9px 14px;
    font-size: 20px;
    outline: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    background: #47cf73;
    color: #fff;
    width: 30%;
    cursor: pointer;
    border-radius: 0px;
}
.newsright input[type="submit"]:hover {
    background: #ff3c41;
}
.footer-grid-wthree h3 {
    font-size: 1.2em;
    color: #343a40;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0.8em;
}

.footer-text p,
.contact-info p {
    color: #757779;
    line-height: 1.9em;
}

.phone {
    margin-top: 20px;
}

ul.links {
    float: left;
    width: 50%;
}

.contact-info h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.9;
    color: #47cf73;
}

.copyright-w3ls p {
    letter-spacing:2px;
    color: #303031;
}

.copyright-w3ls p a:hover {
   color: #2529d8;
}

.footer p {
    color: #808080;
}

.newsletter .email {
    background-color: #F4F4F4;
    border: none;
}

.footer-text input[type="email"] {
    outline: none;
    padding: 12px 15px;
    color: #fff;
    font-size: 16px;
    width: 84%;
    border: none;
    background: none;
    letter-spacing: 2px;
    float: left;
}

.newsletter {
    position: relative;
    background: #28a745;
}

.footer-text button.btn2 {
    color: #28a745;
    border: none;
    padding: 10px 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    background: none;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    float: right;
    width: 15%;
}

.footer-grid-wthree form {
    border: 1px solid #585a5d;
    width: 100%;
    margin-top: 20px;
}

ul.social_section_1info li {
    display: inline-block;
}

ul.social_section_1info {
    margin-top: 15px;
}
ul.social_section_1info a {
    color: #808080;
    margin-right: 10px;
    font-size: 15px;
}

ul.social_section_1info a:hover {
    color: #fff;
}
.phone p a {
    color: #808080;
}
.phone p a:hover {
    color: #343a40;
}
ul.links li {
    list-style-type: none;
    margin: 10px 0;
}
ul.links li a {
    color: #757779;
    font-size: 0.9em;
}

ul.links li a:hover {
color: #151414;
}

.copyright-w3ls a i:hover {
    color: #ffa200;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
}

.owl-item.active {
    padding: 15px;
    border: 1px solid #e4e4e4;
}
ul.social-icons.footer-icons li a span {
    color: #242425;
}
ul.social-icons.footer-icons li a span:hover {
    color:#2529d8;
}
/*--social-icons--*/

/*--//social-icons--*/

.copyright-w3ls a {
    color: #343a40;
}
.copyright-w3ls a:hover {
    color:#47cf73;
}
.copyright-w3ls {
    border-top: 1px solid #ddd;
    padding-top: 1.5em;
}
/*--//footer--*/

/*-- to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: #333 url(../images/move_up.png) no-repeat 11px 11px;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //to-top --*/

/*--//responsive--*/

@media(max-width:1440px) {
    .detail ul li {
        list-style: none;
        width: 40%;
    }
    #table {
        display: table;
        width: 100%;
        height: 100%;
        margin-top: 8em;
    }
}

@media(max-width:1366px) {
    .slide-caption h3 {
        font-size: 3.5em;
        margin-bottom: 15px;
    }
    h3.tittle-w3ls {
        font-size: 2.7em;
    }
    a.navbar-brand {
      font-size: 1em;
    }
    header {
        padding-top: 2em;
    }
}

@media(max-width:1280px) {
    h3.tittle-w3ls {
        font-size: 2.8em;
    }
    .bottom-last {
        min-height: 360px;
    }
    .about-right {
        padding:2em 2em;
    }
}

@media(max-width:1080px) {
    .feedback-img-info {
        float: left;
        width: 100%;
        margin: 0em 0 0 1em;
    }
    .about-in .card-body {
        margin-bottom: 1.2em;
        padding: 2em 1em;
    }
    .middle-grids .card-body {
       padding: 7em 2em;
    }
    section.bottom-last h3 {
        font-size: 2em;
        line-height: 1.6em;
        width: 80%;
        margin: 3em auto 0;
    }
    .slide-caption h3 {
        font-size: 3em;
        margin-bottom: 15px;
    }
    #table {
        display: table;
        width: 100%;
        height: 100%;
        margin-top: 5em;
    }
    .mian-content-wthree {
        height: 55vw;
    }
    .colour-one, .colour-two, .colour-three, .colour-four {
        width: 190px;
        height: 190px;
    }
    .about-right {
        padding: 1em 2em;
    }
}

@media(max-width:1050px) {
    .about-in .card i {
       font-size: 1.5em;
    }
}

@media(max-width:1024px) {
    h3.tittle-w3ls {
        font-size: 2.7em;
    }
    .team-grids-wthree{
        width: 50%;
        margin-bottom: 1em;
    }
}

@media(max-width:991px) {
    .feedback-top {
        padding: 4em;
        margin-top: 2em;
    }
    .feedback-img {
        width: 9%;
        top: 5%;
        left: 47%;
    }
    .bottom-last {
        min-height: 315px;
    }
    .footer-grid-wthree {
        margin-top: 2em;
    }
    section.bottom-last h3 {
        font-size: 2em;
        width: 80%;
        margin: 2em auto 0;
    }
    .slide-caption p {
        font-size: 0.9em;
        width: 83%;
    }
    #table {
        display: table;
        width: 100%;
        height: 100%;
        margin-top: 4em;
    }
    .callnumber{
        width: 50%;
        float: left;
        padding-left: 13px;
    }
    .top-social-icons {
        float: right;
        width: 50%;
    }
    
    .top-content-right {
        padding: 0;
        margin-top: 0.5rem;
    }

    ul.navbar-nav {
        text-align: center!important;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 0.3em 1.1em;
        font-size: 1em;
        color:#333;
    }
    .navbar-nav .dropdown-menu {
        text-align: center;
    }
    nav.navbar.navbar-expand-lg.navbar-light .log-in {
        margin-top:0.5rem;
        text-align: center;
    }
    .mian-content-wthree.inner {
        height:25vw;
    }
    div#navbarSupportedContent {
        position: absolute;
        width: 100%;
        top: 100%;
        background: #fff;
        padding:1em;
        z-index: 9;
    }
    .navbar-toggler {
        padding: 0.25rem 0.55rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: rgba(255, 255, 255, 0.98);
        border: 1px solid transparent;
        border-radius: 0;
    }
    .colour-one, .colour-two, .colour-three, .colour-four {
        width: 300px;
        height: 300px;
    }
    .team-grids-wthree{
        width: 50%;
        margin-bottom: 2em;
    }
    .newsright {
        width: 100%;
    }
}

@media(max-width:900px) {
    #table {
        display: table;
        width: 100%;
        height: 100%;
        margin-top:2em;
    }
}

@media(max-width:800px) {
    .about-right {
        padding: 2em 2em;
    }
    #table {
        display: table;
        width: 100%;
        height: 100%;
        margin-top: 1em;
    }
    .slide-caption p {
        font-size: 0.8em;
        width: 83%;
    }
    section.bottom-last h3 {
        font-size: 1.6em;
        width: 96%;
        margin: 2em auto 0;
    }
    .bottom-last {
        min-height: 264px;
    }
    .colour-one, .colour-two, .colour-three, .colour-four {
        width: 259px;
        height: 259px;
    }
}

@media(max-width:768px) {
    .mian-content-wthree {
        height: 60vw;
    }
    a.navbar-brand {
        font-size: 0.75em;
    }
}

@media(max-width:767px) {
   .slide-caption h3 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    h3.tittle-w3ls {
        font-size: 2.5em;
    }
}

@media(max-width:736px) {
    .colour-one, .colour-two, .colour-three, .colour-four {
        width: 232px;
        height: 232px;
    }
}

@media(max-width:667px) {
    .middle-grids .card-body {
        padding: 6em 2em;
        margin-bottom: 1em;
    }
    .mian-content-wthree {
        height: 67vw;
    }
    .mian-content-wthree.inner {
        height: 35vw;
    }
}

@media(max-width:640px) {
    h3.tittle-w3ls {
        font-size: 2.5em;
    }
     #table {
        display: table;
        width: 100%;
        height: 100%;
        margin-top: 2em;
    }
        .colour-gd {
        margin-bottom: 0.7em;
        padding: 0;
        float: left;
        width: 43%;
    }
    .slide-caption h3 {
        font-size: 2em;
        margin-bottom: 5px;
    }
    .slide-caption p {
        font-size: 0.8em;
        width: 83%;
    }
    .mian-content-wthree {
        height: 69vw;
    }
}

@media(max-width:600px) {
   .cont-btn {
        margin-top: 1rem;
    }
    h3.tittle-w3ls {
        font-size: 2.2em;
    }
    section.bottom-last h3 {
        font-size: 1.6em;
        width: 96%;
        margin: 1em auto 0;
    }
    .about-right {
        padding: 1em 1em;
    }
}

@media(max-width:568px) {
    .mian-content-wthree {
        height: 74vw;
    }
    .feedback-top {
        padding: 3em;
        margin-top: 1em;
    }
}

@media(max-width:480px) {
    h3.tittle-w3ls {
        font-size: 2em;
    }
    section.bottom-last h3 {
        font-size: 1.1em;
        width: 90%;
        margin: 0em auto 0;
    }
    .bottom-last {
        min-height: 200px;
    }
    .colour-gd {
        margin-bottom: 0.7em;
        padding: 2px 15px;
        float: left;
        width: 43%;
    }
    .mian-content-wthree {
        height: 90vw;
    }
    .colour-one, .colour-two, .colour-three, .colour-four {
        width: 176px;
        height: 176px;
    }
    .newsright input[type="submit"] {
        width: 40%;
    }
    .mian-content-wthree.inner {
        height: 41vw;
    }
    .top-head-w3ls span {
        letter-spacing: 0px;
    }
}

@media(max-width:440px) {
    .mian-content-wthree.inner {
        height: 42vw;
    }
    .colour-one, .colour-two, .colour-three, .colour-four {
        width: 155px;
        height: 155px;
    }
    .feedback-top {
        padding: 2em;
        margin-top: 1em;
    }
}

@media(max-width:414px) {
    .colour-one, .colour-two, .colour-three, .colour-four {
        width: 145px;
        height: 145px;
    }
    .team-grids-wthree{
        width: 75%;
        margin: 1em 3em;
    }
    .about-right h3 {
        font-size: 1.2em;
        line-height: 1.6em;
    }
    .mian-content-wthree {
        height: 108vw;
    }
    #table {
        display: table;
        width: 100%;
        height: 100%;
        margin-top: 1em;
    }
}

@media(max-width:384px) {
    h3.tittle-w3ls {
        font-size: 1.8em;
    }
    #table {
        display: table;
        width: 100%;
        height: 100%;
        margin-top: 1em;
    }
    .slide-caption h3 {
        font-size: 1.6em;
        margin-bottom: 5px;
    }
    .callnumber h6 {
        font-size: 0.9em;
    }
}

@media(max-width:375px) {

    header {
        padding-top: 1.2em;
    }
    .slide-caption p {
        font-size: 0.8em;
        width: 100%;
    }
    h3.tittle-w3ls {
        font-size: 1.6em;
    }
    section.bottom-last h3 {
        font-size: 1.1em;
        width: 92%;
        margin: 0em auto 0;
    }
    .bottom-last {
        min-height: 167px;
    }
    h3.tittle-w3ls.foot {
        font-size: 1.4em;
    }
}

@media(max-width:320px) {
    h3.tittle-w3ls {
        font-size: 1.6em;
    }
    h3.tittle-w3ls {
        font-size: 1.4em;
    }
    h3.tittle-w3ls.foot.text-left.mb-lg-4.mb-3 {
        font-size: 1.3em;
    }
 }

/*--//responsive--*/